modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_websocket:1.0.0", "javascript_database:1.0.0", "javascript_log_in_with_replit:1.0.0", "javascript_stripe:1.0.0", "stripe:2.0.0"]

[userenv]

[userenv.shared]
VITE_FIREBASE_PROJECT_ID = "minkah-enterprises-e51f3"
VITE_FIREBASE_APP_ID = "1:707643630152:web:ded45ba470eb7631802e7d"
VITE_FIREBASE_AUTH_DOMAIN = "minkah-enterprises-e51f3.firebaseapp.com"
VITE_FIREBASE_STORAGE_BUCKET = "minkah-enterprises-e51f3.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "707643630152"
VITE_FIREBASE_MEASUREMENT_ID = "G-E78HRVFRZ0"
